body h2 {
    font-family: "Helvetica Neue";
    font-weight: 200;
    font-size: 35px;
    letter-spacing: 0;
    line-height: auto;
    color: #484848;
}
body h3 {
    font-family: "Helvetica Neue";
    font-weight: bold;
    font-size: 56px;
    letter-spacing: 0;

    color: #1e1b18;
    margin: 20px 0;
}
body h4 {
    font-family: "Noto Sans CJK KR";
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.02em;
    line-height: 2.5;
    color: #ffffff;
}
body p {
    font-family: "Helvetica Neue";
    font-weight: 200;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 1.6;
    color: #484848;
    margin: 50px 0;
}
.ico_read_more {
    background-color: #eb7c23;
    width: 180px;
    text-align: center;
    padding: 20px 0;
    
    font-family: "Noto Sans CJK KR";
    font-weight: 500;
    font-size: 15px;
    letter-spacing: -0.025em;
    color: rgba(255,255,255,0.8);
}
.ico_read_more:hover {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    color: rgba(255,255,255,1);
}
.arrow_read_more {
    vertical-align: middle; 
    margin: 0 0 0 10px;
}
.heart_ico {
    margin-bottom: 20px;
}
body h5 {
    font-family: "Helvetica Neue";
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 1.3;
    color: #1e1b18;    
}


    /* TB_main_header */

.global_header {
    background-color: #1e1b18;
    position: fixed;
    width: 100%;
    z-index: 999;
    display: none;
}
@media (min-width:768px){
    .global_header {display: block;}
}
.global_nav {
    max-width: 1200px;
    margin: 25px auto;
}
.logo {
    float: left;
    width: 150px;
    height: 30px;
    padding-left: 10px;
}
.nav_lst {
    float: right;
    margin: 10px 0;
}
.nav_lst li {
    float: left;
    margin: 0 15px;
}
.nav_lst li a {
    color: rgba(255,255,255,0.7);
    font-family: "Helvetica Neue";
    font-weight: bold;
    font-size: 15px;
    letter-spacing: -0.025em;
}
.nav_lst li a:hover {
    color: rgba(255,255,255,1);    
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}
.serch_picto {
    opacity: 0.7;
}
.nav_lst li img:hover {
    opacity: 1;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;   
}

    /* TB_main_section_01 */

.banner_wrap_01 {
    padding-top: 50px;
    background-image: url(images/pattern.png);
}
@media (min-width:768px){
    .banner_wrap_01 {padding-top: 200px}
}
.section_01 {
    background-image: url(./images/TB_main_T.png);
    background-repeat: no-repeat;
    background-position: left top;
}
.section_01_text {
    text-align: left;
    display: inline-block;
}
.section_01 h1 {
    max-width: 400px;
    padding-top: 30px;
    
    font-family: "Helvetica Neue";
    font-weight: bold;
    font-size: 50px;
    letter-spacing: -0.02em;
    line-height: 1.1;
    color: #1e1b18;
}
@media (min-width:768px){
    .section_01 h1 {font-size: 60px;}
}
.section_01 p {
    max-width: 360px;
    margin: 30px 0;
    opacity: 0.9;
    
    font-family: "Noto Sans CJK KR";
    font-weight: 400;
    font-size: ; 14px;
    line-height: 1.5;
    color: rgba(0,0,0,0.3);
}
@media (min-width:768px){
    .section_01 p {max-width: 500px; margin: 50px 0; font-size: 15px;}
}
.section_01 h2 br {
    display: inline;
}
.section_01 br {
    display: none;
}
@media (min-width:768px) {
    .section_01 br {display: inline}
}
.section_01_text_wrap {
    width: 100%;
}
@media (min-width:768px){
    .section_01_text_wrap {width: 50%;}
}

.bnr_bag_img img {
    max-width: 100%;
}
.bnr_bag_img {
    text-align: right;    
    width: 100%;
    float: left;
}
@media (min-width:768px){
    .bnr_bag_img {width: 50%;}
}

.btn_wrap {
    text-align: center; 
}
.section_01_btn {
    padding: 45px 0;
    display: inline-block;
}
.btn {
    width: 80px;
    height: 5px;
    background-color: #efefef;   
}
.btn_select {
    width: 80px;
    height: 5px;
    background-color: #1e1b18;   
}
.btn:hover {
    background-color: #1e1b18;   
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;  
}

.accordion .minus_ico {
    text-align: right;
}


    /* TB_main_section_02 */
.new-trendy_wrap_02 {
    margin-top: 50px;
}
.model01 img {
    max-width: 100%;
}
.model01 {
    padding: 50px;
    display: none;
}
@media (min-width:768px){
    .model01 {display: inline;}
}

.section_02 .new-trendy_text_wrap {
    padding-left: 10px;
}
@media (min-width:768px){
    .section_02 .new-trendy_text_wrap {padding-left: 80px;}    
}

.model02 {
    max-width: 100%;
    float: left;
}
.section_02_text {
    background-image: url(./images/TB_main_B.png);
    background-repeat: no-repeat;
    background-position: right top;
    height: 450px;
}
@media (min-width:768px){
    .section_02_text {height: 500px;}
}
.section_02_text p {
    max-width: 500px;
}

    /* TB_main_section_03 */

.arrival-products_wrap_03 {
    padding: 90px 0;
    background-image: url(images/TB_main_ToryBurch.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.section_03 {
    padding: 0 10px;
    text-align: center;
}
.section_03 p {
    margin-top: 70px;
}
.bags_bg {
    display: none;
}
@media (min-width:768px){
    .bags_bg {display: inline-block;}    
}
.bags_bg img {
    max-width: 100%;
}
.mb_bags_bg {
    display: inline-block;
}
@media (min-width:768px){
    .mb_bags_bg {display: none;}    
}

.section_03 h3 br {
    display: inline;
}
@media (min-width:768px){
    .section_03 h3 br {display: none;}
}
.arrival-products_wrap_03 br {
    display: none;
}
@media (min-width:768px){
    .arrival-products_wrap_03 br {display: inline;}
}

    /* TB_main_section_04 */

.video_ad {
    width: 100%;
    height: 550px;
    display: table;    
    
    background-image: url(./images/TB_main_04_ad-image_size.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
@media (min-width:768px){
    .video_ad { height: 600px; background-position: top center; background-size: cover;}
}
.section_04 {
    padding: 0;
    text-align: center;
    display: table-cell;
    vertical-align: middle; 
}
.section_04 .tit {
    margin: 0;

    font-family: "Helvetica Neue";
    font-weight: bold;
    font-size: 40px;
    letter-spacing: -0.03em;
    line-height: 1.3;
    color: #f4efea;
}
.section_04 .subtit {
    margin: 15px 0;
    
    font-family: "Helvetica Neue";
    font-weight: 400;
    font-size: 20px;
    line-height: 1.3;
    color: rgba(244,239,234,0.8);
}
.section_04 .playico {
    margin: 20px 0;
}
.playico {
    opacity: 0.6;
}
.playico:hover {
    opacity: 1;
}


    /* TB_main_section_05 */

.section_05 {
    background-image: url(images/TB_main_R.png);
    background-repeat: no-repeat;
    background-position: top left;
}
.section_05_model img {
    max-width: 100%;
    padding-top: 200px;
}
.section_05_model {
    text-align: center;
    display: none;
}
@media (min-width:768px){
    .section_05_model {display: inline-block;}
}

.best-product_text_wrap {
    height: 950px;
    display: table;
    
    position: relative;
}
[class*="position_wrap"] {
    width: 380px;
    text-align: center;
    position: absolute;     
}

.best-product_text_wrap .position_wrap_01 {
    top: 50px;
}
@media (min-width:768px){
    .best-product_text_wrap .position_wrap_01 {width:750px;} 
}
.best-product_text_wrap .position_wrap_02 {
    bottom: 50px;
}
@media (min-width:768px){
    .best-product_text_wrap .position_wrap_02 {width:750px;} 
}
.section_05 .best-product_text_wrap .position_wrap_03 {
    text-align: right;
    top: 300px;
    display: none;
}
@media (min-width:768px){
    .section_05 .best-product_text_wrap .position_wrap_03 {display: inline-block; width:750px;}
}
.best-product_text {
    display: table-cell;
    vertical-align: middle;
}
.section_05 p {
    max-width: 500px;
}
.section_05_bag {
    width: 280px;
}
.section_05_bag3 {
    width: 150px;
}


    /* TB_main_section_06 */

.section_06 {
    padding: 50px 0 150px 0;
    text-align: center;
    background-image: url(images/TB_main_H.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}
.other-products_wrap_06 {
    padding-bottom: 100px;
    max-width: 900px;
    margin: 0 auto;
}
[class*="other-products_0"] {
    max-width: 100%;
}

.other-products_wrap_1 {
    margin-top: 100px;
    background-image: url(images/TB_main_otherproducts_01.png);
    background-repeat: no-repeat;
    background-position: center center;
    display: none;    
}
@media (min-width:768px){
    .other-products_wrap_1 {display: table;}  
}
.other-products_box_1 {
    height: 450px;
    display: table-cell;
    vertical-align: middle;
    background-image: url("images/TB_main_otherproducts_01_hover.png");
    background-repeat: no-repeat;
    background-position: center center;
    transition: all .4s ease-in-out;
    opacity: 0;
}
.other-products_wrap_2-1 {   
    width: 100%;
    display: table;
    background-image: url("images/TB_main_otherproducts_02.png");
    background-repeat: no-repeat;
    background-position: center center;     
}
.other-products_box_2-1 {
    height: 365px;
    display: table-cell;
    vertical-align: middle;
    background-image: url("images/TB_main_otherproducts_02_hover.png");
    background-repeat: no-repeat;
    background-position: center center;
    transition: all .4s ease-in-out;
    opacity: 0;
}
.other-products_wrap_2-2 {
    width: 100%;
    margin-top: 20px;
    display: table;
    background-image: url(images/TB_main_otherproducts_03.png);
    background-repeat: no-repeat;
    background-position: center center;     
}
.other-products_box_2-2 {
    height: 355px;
    display: table-cell;
    vertical-align: middle;
    background-image: url("images/TB_main_otherproducts_03_hover.png");
    background-repeat: no-repeat;
    background-position: center center;
    transition: all .4s ease-in-out;
    opacity: 0;
}
.other-products_wrap_3 {    
    margin-top: 100px;
    background-image: url("images/TB_main_otherproducts_04.png");
    background-repeat: no-repeat;
    background-position: center center;
    display: none;
}
@media (min-width:768px){
    .other-products_wrap_3 {display: table;} 
}
.other-products_box_3 {
    height: 350px;
    display: table-cell;
    vertical-align: middle;
    background-image: url("images/TB_main_otherproducts_04_hover.png");
    background-repeat: no-repeat;
    background-position: center center;
    transition: all .3s ease-in-out;
    opacity: 0;
}

.other-products_box_1:hover {
    opacity: 1;
}
.other-products_box_2-1:hover {
    opacity: 1;
}
.other-products_box_2-2:hover {
    opacity: 1;
}
.other-products_box_3:hover {
    opacity: 1;
}
.other-products_wrap_06 a:hover {
    text-decoration: underline;
}
.section_06_text br {
    display: none;
}
@media (min-width:768px){
    .section_06_text br{display: inline-block;}  
}
.section_06_text h3 br {
    display: inline-block;
}
@media (min-width:768px){
    .section_06_text h3 br{display: none;}  
}
.op_line {
    margin: 25px 0;
    opacity: 0;
}
.other-products_wrap_06 a {
    font-family: "Noto Sans CJK KR";
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0;
    line-height: auto;
    color: #1e1b18; 
}
.ico_read_more {
    display: inline-block;
}

    /* TB_main_footer */

.global_footer {
    background-color: #1e1b18;
}
.footer_section_bg {
    height: 100%;
}
.footer_head {
    max-width: 1020px;
    margin: 0 auto;
    padding: 0 0 50px 0;
    text-align: center;
    position: relative;
}
.footer_logo {
    width: auto;
    padding: 60px 0 0px 0;
}
.social_ico a{
    margin: 20px 0 0 5px;
}
@media (min-width:768px){
    .social_ico a {float: right;}   
}
.footer_body {
    text-align: center;
}
.footer_body img {
    width: 18px;
    height: 20px;
}
.footer_body p {
    font-family: "Noto Sans CJK KR";
    font-weight: 200;
    font-size: 14px;
    letter-spacing: 0.025em;
    line-height: 1.5;
    color: rgba(255,255,255,);
    
    margin: 0;
}
.company_box, .call_box, .focus_box {
    display: inline-block;
    text-align: center;
    margin: 0 30px;
}
.copyright_wrap {
    margin: 0 auto;
    max-width: 1200px;
    text-align: center;
    font-size: 10px;
    opacity: 0.5;
}
.footer_line {
    max-width: 100%;
}


    /* next detail */
.next-detail-wrap {
    position: relative;
}
.next-detail {
    position: absolute;
    right: 30%;
    bottom: -10px;
}
.next-ico {
    opacity: 0.8;
}
.next-ico:hover {
    opacity: 1;
}
